<!DOCTYPE html>
<html>
  <head>
    <title>ABOUT</title>
  </head>
  <body>
    <h1>About</h1>
    <p>Created by Graham Spencer! I'm still new to this so <strong>bear</strong> with me.</p>
    <img src="https://i.imgur.com/rHXP7gQ.jpg">
    <br><br>
    <a href="/">Click here to go back home</a>
  </body>
</html>
