<h2>There are <%= @contacts.count %> contacts</h2>

<section id="contact-section" class="contacts">
  <% @contacts.each do |contact| %>
    <ul class="people">
      <li><%= contact.full_name %> (<%= contact.email %>)</li>
      <li><%= contact.note %></li>
    </ul>
  <% end %>
</section>
