header {
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;
  color: white;
}

header h1 {
  background-color: rgba(20, 20, 20, 0.8);
  padding: 10px;
  margin: auto;
}

main h2 {
  background-color: rgba(255, 0, 0, 0.5);
  font-family: Helvetica;
  font-size: 16px;
  padding: 10px;
  margin: 10px 20px;
}

h1 {
  font-family: Arial;
  font-size: 30px;
  color: white;
  background-color: rgba(100, 100, 100, 1);
  padding: 15px 10px;
}

h2 {
  font-family: Verdana;
  font-size: 20px;
}

p {
  font-family: Helvetica;
  font-size: 16px;
}

ul {
  padding: 0;
  list-style-type: none;
}

ul.people {
  background-color: rgba(50, 200, 200, 1);
  font-family: Helvetica;
  font-weight: bold;
  font-size: 16px;
  padding: 20px;
  margin: 10px 20px;
}

ul.details {
  background-color: gold;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}

header li {
  display: block;
  background-color: silver;
  font-size: 20px;
  padding: 10px ;
  margin: 1px;
  max-width: 100%;
}

li.modify {
  font-size: 10px;
  display: inline-block;
}

header a {
  color: white;
  text-decoration: none;
}

footer {
  color: white;
  background-color: black;
  font-family: Helvetica;
  font-size: 14px;
  text-align: center;
  padding: 10px;
}
